* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(images/DSCF8089-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

h1 {
    font-size: 600%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    color: black;
}

nav {
    overflow: hidden;
    background-color: black;
    margin: -12px;
}

nav a {
    float: right;
    padding: 30px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    color:white;
    transition: 0s color;
}

#left {
    padding-right: 7%;
}

nav a:hover {
    color: lightblue;
    transition-delay: 0.1s;
}
.bigbox {
    background-color:black;
    color: white;
    
    padding-top: 10%; 
    width: 120%;
    margin-left: -10px;
    margin-right: 10%;    
}

.contact {
    padding-left: 10%;
}

.images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
    justify-content: space-around;
    padding-left: -10%;
    margin-top: 5%;
    padding-right: 15%;
}

.bigbox a{
    color: lightblue;
}

.bigbox img {
   
    padding: 25px;
}

@media only screen and (max-width: 280px) {
   
    h1 {
        display: flex;
        justify-content: center;
    }
  }

  @media screen and (max-width: 280px) {
    .bigbox {
        background-color: black;   
        display: flex;
        flex-direction: column;      
    }
}