body {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    background-image: url(images/DSCF8089-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

@media screen and (max-width: 280px) {
    .bigbox {
        background-color: black;   
        display: flex;
        flex-direction: column; 
        justify-items: center;   
    }
}

h1 {
    font-size: 600%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

img {
    padding: 5px;   
}

.bigbox {
    background-color:black;
    padding-left: 10%;
    padding-top: 10%; 
    width: 100%;
    margin-left: -10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

nav {
    overflow: hidden;
    background-color: black;
    margin: -12px;
}

nav a {
    float: right;
    padding: 30px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    color: white;
    transition: 0s color;
}

#left {
    padding-right: 7%;
}

nav a:hover {
    color: lightblue;
    transition-delay: 0.1s;
}
