body { width:100%; margin:0px 0px 0px 0px; }


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Montserrat' sans-serif;
}


body {
	font-family: sans-serif;  
    color: white;
    background-image: url(../../../images/IMG_2070.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.nav__links {
    overflow: hidden;
     position: fixed;
    top: 0;
    width: 100%;
    padding: 13px; 

}

.nav__links a {

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

li a.active {
    background-color: #063852;
    color: white;
    border-radius: 60px;
    
   
}

div p {
    margin-top: 15%;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-size: 25px;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=50);
    padding-left: 23%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -10px;
    background-color: black;
    font-family: 'Montserrat' , sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div a {
    text-decoration: none;
    color: white;
    font-family: 'Monserrat' , sans-serif;
}
li a:hover {
   background-color: #063852;
    color: white;
    border-radius: 60px;
}


li {
    float: right;
    margin-right: 45px;
}

.contactdata {
    padding: 10px;
}

p {
    padding: 0px;
}

font {
    padding-left: 30px;
}

p img {
    display: inline-block;
    opacity: 100%;
    margin-left: 80%;
   
}

#sign {
    margin: 20px;
    text-align: center;
}

hr {
    margin-right: 10%;
    margin-left: 10%;
    
}