body { width:100%; margin:0px 0px 0px 0px; }

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Montserrat' sans-serif;
}


body {
	font-family: sans-serif;  
    color: white;
    background-image: url(../images/IMG_2070.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

li a.active {
    background-color: #063852;
    color: white;
    border-radius: 60px;
    
   
}


.nav__links {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 13px; 
    list-style-type: none;
    list-style-image: none;
}

.submenu a {
    clear: both;
    position: relative;
    
}


.nav__links a {

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
     
   ;
    top: 0;
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -10px;
    background-color: black;
    font-family: 'Montserrat' , sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #063852;
    color: white;
    border-radius: 60px;
}


li {
    float: right;
    margin-right: 45px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
    font-size: 120px;
    font-family: 'Montserrat' ,sans-serif;
}

.linkbutton {
    color: white;
    width: 130px;
    font-size: 16px;
    padding: 10px;
    border: white solid 2px;
    text-align: center;
    display: inline-block;
    padding: 15px;
    border-radius: 40px;
    margin: 110px;
    text-decoration: none;
    margin-left: 15.5%;
    margin-bottom: 200px;
    font-family: 'Montserrat' ,sans-serif; 
}

div p {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    
}


#mainbox {
    height: 800px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat' ,sans-serif;
    margin-bottom: 40px;
    
}

#last-information {
    margin-top: 70px;
    color: white;
    font-family: 'Montserrat' ,sans-serif;
    display: block;
    float: none;
    margin: 40px;
}

#sign {
    margin: 20px;
    text-align: center;
    padding: 60px;
}

#Pfeil {
    text-align: center;
    font-size: 80px;
    margin-top: -10px;
}

h2 {
    background-color: black;
    margin-left: 20px;
    margin-top: px;
}

#left-text {
    display: block;
    float: left;
    padding: 50px;
    font-size: 30px;
    margin-left: 38px;
}

div h2 {
    margin-left: 5px
}

#mittlerer-text {
    display: block;
    float: right;
    padding: 50px;
    font-size: 30px;
    margin-right: 210px;
    margin-left: -50px;
}

div p {
    font-size: 18px;
}

div img {
    margin: 50px
}

#ueberschrift-1 {
    margin-left: 52px;
}

#rechter-text {
    display: block;
    font-size: 30px;
    float: right;
    padding: 50px;
    margin-right: 40px;
   
}

.link-seemore {
        text-decoration: none;
        color: skyblue;
        margin: 80px;
}

hr {
    margin-right: 10%;
    margin-left: 10%;
    
}

